@use 'styles/fonts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  // @media only screen and (max-width: $bp-mobile) {
  //   font-size: 50%;
  // }
}

body {
  box-sizing: border-box;
  font-family: $lato;

  scroll-behavior: smooth;
  background-color: $black;
  color: $white;
}

a {
  text-decoration: none;
}
