@use 'styles/fonts' as *;

// COLORS
$white: #f5f0eb;
$black: #1c1917;
$green100: #3d7a54;
$green500: #2d5a3d;
$rose100: #c9a99a;
$rose500: #b8897a;
$yellow100: #c9a84c;
$yellow500: #d4a832;

// FONTS
$raven: 'Raven Hell', sans-serif;
$lato: 'Lato', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-desktop-sm: 75em; // 1200px
$bp-tablet: 62em; // 992px
$bp-mobile: 48em; // 768px
$bp-mobile-sm: 23.4375em; // 375px
